
.bg{
 
}
.App { 
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  background-image: url("../public/white-cloud-blue-sky.avif");
  background-repeat: no-repeat;
  background-size: cover;
  /* background:skyblue; */
  text-align: center;
}
h1,h3{
  color: blue;
}
h4{
  padding-right: 3rem;
  margin-right: 3rem;
}
.wing_tank
{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
   
}

.check
{
  font-size: 2rem;
}
/*  */
.form{
  display: flex;
  justify-content : space-evenly;
}
.browser
{
  display: flex;  
  justify-content: flex-start;
  gap: 2rem;
  margin-left: 30rem;
}
.nav-link{
  font-size: 1.5rem;
}
